.myAccord{
    width: 80vw;
    padding: 1rem 2rem;
    /* margin-left: 27rem; */
}

::-webkit-scrollbar {
    display: none;
  }
.myAccord .title{
    color: white; font-family: 'Montserrat'; font-size: 18px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
90deg, #c9184a 0%, #ff8fa3 97.04%);
}

.details{
    display: flex;
    justify-content: center;
}

.accord{
    
    margin-top: 1rem;
}