/* please add reset styleheet for this webpage */

* {
  margin: 0;
  padding: 0;
}
body {
  background: #fefefe;
}

#stage {
  z-index: -1;
}

.blend-mode {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #12f29b;
  mix-blend-mode: color;
}

.landing-clipping-mask {
  clip-path: polygon(0 0, 100% 26%, 100% 83%, 19% 100%, 0 74%);
}

.landing-blurred {
  backdrop-filter: blur(25px);
}
