/*EVENT*/
#upcomingEvent{
  margin-left: 8%;
  width: 26%;
  margin-bottom:  10px;
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px;
  font-family: sans-serif;
  position: relative;
  float: left;
}
#landing_line_Event{
  float: left;
  position: relative;
  width: 58%;
  margin-top: 68px;
  background-color: rgb(44, 43, 43);
  height: 1px;
}
#landing_title{
  width: 400px;
  float: left!important;
  color: white;
  margin-left: 70%;
  margin-top: -300px;
  position:absolute;
}
#landing_title_right1{
  font-size: 40px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}
#landing_title_right2{
  font-size: 20px;
  margin-left: 5px;
}
#event{
  float: left;
  width: 90%;
  margin-left: 5%;
}
#event_img{
  padding: 3% 4% 5% 4%;
  width: 42%;
  float:left;
}
#event_img_display{
  width: 100%;
  height: 350px;
  background-image: url('../img/geekbot_dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}
#event_context{
  width: 44%;
  float:left;
  padding: 3% 4% 5% 2%;
  text-align: right;
}
#event_content{
  float: left;
  width: 100%;
  border-right: 2px solid black;
  padding-right: 10px;
}
#event_title{
  font-size: 30px;
  float: right;
  padding-bottom: 10px;
  padding-right: 15px;
  font-weight: 600;
}
#event_desc{
  font-size: 16px;
  padding-right: 15px;
  font-weight: 500;
  float: right;
  line-height: 1.2rem;
}
.event_space{
  padding-top: 8px!important;
}
.event_bold{
  font-weight: 800;
}
#register_button{
  margin-top: 3rem;
  text-decoration: none;
  padding: 12px 15px;
  font-size: 17px;
  background-color: #ffc107;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-weight: 600;
  float: right;
  transition: 0.6s ease;
  z-index: 500;
  position: relative;
}
#register_button:hover{
background-color: #eeb200;
box-shadow: 4px 4px 8px gray;
}
/*projects*/
#landingProjectsDisplay{
  margin-left: 7%;
  width: 15%;
  margin-bottom:  10px;
  font-weight: 700;
  font-size: 40px;
  margin-top: 33px;
  font-family: sans-serif;
  position: relative;
  float: left;
}
#landing_line_Project{
  float: left;
  position: relative;
  width: 71%;
  margin-top: 55px;
  background-color: rgb(44, 43, 43);
  height: 1.5px;
}
#projects{
  width: 100%;
  margin-top: 40px;
  float: left;
}
.project_card{
  float: left;
  width: 300px;
  margin-left: 7%;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
  z-index: 500;
  position: relative;
}
.project_img{
  width: 100%;
}
#project_img_display1{
  width: 100%;
  height: 180px;
  background-image: url('../img/geekbot_dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

#project_img_display2{
  width: 100%;
  height: 180px;
  background-image: url('../img/img-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}
.project_title{
  width: 100%;
  font-size: 19px;
  font-weight: 700;
  padding: 5px;
}
.project_desc{
  float: left;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
}

/* landing page style  */
#landing_page_style {
  float: left;
width: 100%;
height: 300px;
margin-top: 100px;
margin-bottom: 150px;
background-image: url(../img/style.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


@media screen and (max-width: 730px)
{
  #landing_title{
    margin-left: 33%;
  }
    #event_img{
        width: 92%;
        padding: 5% 4% 0% 4%;
    }
    #event_context{
        width: 96%;
        padding:0%;
        margin-bottom: 50px;
    }
    #event_button{
        margin-top: 1rem;
    }
    .project_card{
        margin-left: 20%;
    }
}