/* INTRO */
.landing_intro{
   width: 100%;
   float: left;
}
#landing_intro_title {
   margin-left: 8%;
   width: 35%;
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 40px;
   margin-top: 50px;
   font-family: sans-serif;
   position: relative;
   float: left;
}
#landing_intro_line {
   float: left;
   position: relative;
   width: 49%;
   margin-top: 68px;
   background-color: rgb(44, 43, 43);
   height: 1px;
}
.LI_content{
   width: 100%;
   float: left;
}
.LI_image{
   float: left;
   width: 42%;
   height: 380px;
   margin-left: 7%;
   background-image: url("../img/landingpage.png");
   background-position: cover;
   background-repeat: no-repeat;
   background-size: contain;
}
.LI_context{
   float: left;
   width: 43%;
   margin: 2% 6% 0% 0%;
   padding-right: 1%;
   font-family: Raleway;
   font-style: normal;
   font-weight: 600;
   font-size: 22px;
   line-height: 35px;
   text-align: right;
   border-right: 2px solid black;
}
/*EVENT*/
#upcomingEvent{
    margin-left: 8%;
    width: 26%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    font-family: sans-serif;
    position: relative;
    float: left;
 }
 #landing_line_Event {
    float: left;
    position: relative;
    width: 58%;
    margin-top: 68px;
    background-color: rgb(44, 43, 43);
    height: 1px;
 }
 #landing_title {
    width: 400px;
    float: left !important;
    color: white;
    margin-left: 70%;
    margin-top: -300px;
    position: absolute;
    letter-spacing: 2px;
 }
 #landing_title_right1 {
    font-size: 40px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1.5px;
 }
 #landing_title_right2 {
    font-size: 20px;
    margin-left: 5px;
 }
 #event {
    float: left;
    width: 90%;
    margin-left: 5%;
    overflow-x: hidden;
 }
 #event_img {
    padding: 3% 0% 5% 4%;
    width: 46%;
    float: left;
 }
 #event_img_display {
    width: 100%;
    height: 350px;
    background-image: url("../img/knack.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 6px;
 }
 .cast_green{
    color: rgb(74,246,134);
 }
 #event_context {
    width: 44%;
    float: left;
    padding: 3% 4% 5% 2%;
    text-align: right;
 }
 #event_content {
    float: left;
    width: 100%;
    border-right: 2px solid black;
    padding-right: 10px;
 }
 #event_title {
    font-size: 35px;
    float: right;
    padding-bottom: 10px;
    padding-right: 15px;
    font-weight: 600;
 }
 #event_desc {
    font-size: 18px;
    padding-right: 15px;
    font-weight: 100;
    float: right;
    line-height: 1.5rem;
 }
 .event_space {
    padding-top: 8px !important;
 }
 .event_bold {
    font-weight: 800;
 }
 #register_button {
    margin-top: 3rem;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 17px;
    background-color: #ffc107;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    float: right;
    transition: 0.6s ease;
    z-index: 3;
    position: relative;
 }
 #register_button:hover {
    background-color: #eeb200;
    box-shadow: 4px 4px 8px gray;
 }
 #watch_now_button{
   margin-top: 3rem;
   text-decoration: none;
   padding: 12px 15px;
   font-size: 17px;
   background-color:#FF0000;
   border-radius: 20px;
   text-align: center;
   color: white;
   font-weight: 600;
   float: right;
   transition: 0.6s ease;
   z-index: 3;
   position: relative;
 }
 #watch_now_button:hover {
   background-color: #FF0000;
   box-shadow: 4px 4px 8px gray;
}
 /*projects*/
 #landingProjectsDisplay {
    margin-left: 7%;
    width: 15%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    margin-top: 33px;
    font-family: sans-serif;
    position: relative;
    float: left;
 }
 #landing_line_Project {
    float: left;
    position: relative;
    width: 71%;
    margin-top: 55px;
    background-color: rgb(44, 43, 43);
    height: 1.5px;
 }
 #projects {
    width: 100%;
    margin-top: 40px;
    float: left;
    overflow-x: hidden;
 }
 .project_card {
    float: left;
    width: 300px;
    margin-left: 7%;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    z-index: 3;
    position: relative;
 }
 .project_img {
    width: 100%;
 }
 #project_img_display1 {
    width: 100%;
    height: 180px;
    background-image: url("../img/geekbot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
 }
 
#project_img_display2 {
   width: 100%;
   height: 180px;
   background-image: url("../img/GFGKIITWebsitePoster.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 6px;
}
#project_img_display3 {
   width: 100%;
   height: 180px;
   background-image: url("../img/hearme.jfif");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 6px;
}
 .project_title {
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 15px;
 }
 .project_desc {
    float: left;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 100!important;
 }
 
 /* landing page style  */
 #landing_page_style {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 @media screen and (max-width: 730px) {
    #landing_line_Event, #landing_line_Project, #landing_intro_line{
       display: none;
    }
    #upcomingEvent, #landing_intro_title{
       width: 100%;
    }
    #landing_title {
       margin-left: 33%;
    }
    #event_title{
       margin-top: 15px;
    }
    #event_img , .LI_image{
       width: 92%;
       padding: 5% 4% 0% 4%;
    }
    #event_context , .LI_context {
       width: 96%;
       padding: 0%;
       margin-bottom: 50px;
    }
    #event_button {
       margin-top: 1rem;
    }
    .project_card {
       margin-left: 20%;
       margin-bottom: 90px;
    }
 }
 
 /* landing page marquee style  */
 .landing-scroll-branding {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0px 100px 0px !important;
    overflow: hidden;
    font-family: "Montserrat";
 }
 .landing-scroll-branding .scroll {
    width: 100%;
    display: flex;
 }
 .landing-scroll-branding .scroll {
    animation-play-state: paused;
 }
 
 .landing-scroll-branding .scroll div {
    color: rgba(0, 0, 0, 0);
    font-size: 3em;
    white-space: nowrap;
    padding: 10px;
    font-weight: 800;
    text-transform: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.75);
 }
 .landing-scroll-branding .scroll div span{
    padding-left:10px ;
 }
 .landing-scroll-branding .scroll .filled {
    color: rgba(0, 0, 0, 0.75);
 }
 .landing-scroll-branding .org div {
    animation: animate 80s linear infinite;
    animation-delay: -80s;
 }
 .landing-scroll-branding .org div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
 }
 
 .landing-scroll-branding .alt div {
    animation: animate-alt 80s linear infinite;
    animation-delay: -80s;
 }
 
 .landing-scroll-branding .alt div:nth-child(2) {
    animation: animate-alt2 80s linear infinite;
    animation-delay: -40s;
 }
 
 @keyframes animate {
    0% {
       transform: translateX(100%);
    }
    100% {
       transform: translateX(-100%);
    }
 }
 @keyframes animate2 {
    0% {
       transform: translateX(0%);
    }
    100% {
       transform: translateX(-200%);
    }
 }
 
 @keyframes animate-alt {
    0% {
       transform: translateX(-100%);
    }
    100% {
       transform: translateX(100%);
    }
 }
 @keyframes animate-alt2 {
    0% {
       transform: translateX(-200%);
    }
    100% {
       transform: translateX(0%);
    }
 }
 @media screen and (max-width: 400px) {
   #landing_intro_title{
      font-size: 30px;
      margin-left: 7%;
   }
   #landing_title {
      margin-left: 8%;
      margin-top: -250px;
   }
   #landing_title_right1{
      font-size:38px ;
   }
   .project_card {
      margin-left: 8%;
   }
   .LI_image{
      height: 200px;
      margin-left: 0px;
   }
   #event_img_display {
      height: 250px;
      margin-bottom: 20px;
      background-position: center;
   }
   #event_title{
      margin-top: 0px;
   }
   .LI_context{
      padding-right: 15px;
      padding-left: 5px;
      text-align: center;
   }
}