body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}
/*EVENT*/
#upcomingEvent {
  margin-left: 4%;
  width: 94%;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
#event {
  float: left;
}
#event_img {
  padding: 0% 4% 5% 4%;
  width: 42%;
  float: left;
}
#event_img img {
  width: 100%;
  height: 350px;
}
#event_context {
  width: 46%;
  float: left;
  padding: 0% 2% 5% 2%;
  text-align: right;
}
#event_content {
  float: left;
  width: 100%;
  border-right: 2px solid gray;
  padding-right: 10px;
}
#event_title {
  font-size: 30px;
  float: right;
  padding-bottom: 10px;
  font-weight: 600;
}
#event_desc {
  font-size: 15px;
  float: right;
}
#event_button {
  margin-top: 5rem;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 17px;
  background-color: #ffc107;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-weight: 600;
  float: right;
  transition: 0.6s ease;
}
#event_button:hover {
  background-color: #eeb200;
  box-shadow: 4px 4px 8px gray;
}

/*projects*/
#projects {
  width: 100%;
}
.project_card {
  float: left;
  width: 300px;
  margin-left: 7%;
  margin-bottom: 100px;
  text-decoration: none;
  color: black;
}
.project_img {
  width: 100%;
}
.project_img img {
  width: 100%;
  height: 150px;
}
.project_title {
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  padding-left: 5px;
}
.project_desc {
  float: left;
  padding: 5px;
  font-size: 15px;
}

@media screen and (max-width: 730px) {
  #event_img {
    width: 92%;
    padding: 5% 4% 0% 4%;
  }
  #event_context {
    width: 96%;
    padding: 0%;
    margin-bottom: 50px;
  }
  #event_button {
    margin-top: 1rem;
  }
  .project_card {
    margin-left: 20%;
  }
}
/* landing page style  */
#landing_page_style {
  width: 100%;
}
