/* STYLING PART OF NAVIGATION BAR */

nav ul {
  float: right;
  margin-right: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
.home {
  color: rgb(141, 248, 141);
  border-bottom: 3px solid white;
}
.home:hover {
  border-bottom: 3px solid rgb(141, 248, 141);
}
.event {
  color: rgb(240, 77, 132);
  border-bottom: 3px solid white;
}
.event:hover {
  border-bottom: 3px solid rgb(240, 77, 132);
}
.projects {
  color: rgb(139, 139, 235);
  border-radius: 8px;
  border: 2px solid white;
  padding-bottom: 6px;
  transition: 0.6s ease;
}
.projects:hover {
  border: 2px solid rgb(139, 139, 235);
  box-shadow: 0px 0px 2px 2px rgb(139, 139, 235);
}
.about {
  color: #ffc107;
  border-bottom: 3px solid white;
}
.about:hover {
  border-bottom: 3px solid #ffc107;
}
/*
.home{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: 0.6s ease;
}
.home:hover{
    border-bottom: 3px solid rgb(141, 248, 141);
}
.event{
    border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: 0.6s ease;
}
.event:hover{
    border-bottom: 3px solid rgb(240, 77, 132);
}
.project{
     border-bottom: 3px solid white;
    padding-bottom: 6px;
    transition: 0.6s ease;
}
.project:hover{
    border-bottom: 3px solid rgb(139, 139, 235);
}
.about{
    color: #ffc107;
    border-radius: 8px;
    padding-bottom: 6px;
    border: 2px solid #ffc107;
    box-shadow: 0px 0px 2px 2px #ffc107;
    transition: 0.6s ease;
}
*/

.checkbtn {
  color: white;
  text-align: right;
  height: 60px;
  font-size: 30px;
  line-height: 80px;
  margin-right: 40px;
  float: right;
  display: none;
  cursor: pointer;
}
#check {
  display: none;
}
@media screen and (max-width: 952px) {
  label.logo {
    font-size: 14px;
    padding-left: 5%;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 858px) {
  nav for minimised screen nav background {
    background: black;
    height: 80px;
    width: 100%;
  }
  .image2 {
    float: left;
  }
  .checkbtn {
    display: block;
    color: black;
    padding-right: 1%;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    /* top: 80px; for removing the top bg & giving it to full screen at once */
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0%;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  a:hover {
    color: rgb(6, 223, 42);
  }
  #check:checked ~ ul {
    left: 0;
  }
}
#gfglogo {
  padding-top: 20px;
  padding-left: 3%;
}
