.set-pos {
  z-index: 2;
  position: relative;
}

.upcomingEvent {
  width: 80%;
}
.upcomingEvent .flex-container {
  display: flex;
  flex-direction: column;

  height: 50vh;
  width: 90%;
}
.upcomingEvent .flex-container .upcomingEvent {
  width: 50vw;
  height: 40vh;
  background-color: #333;
}
