.form-art {
  float: left;
  width: 48%;
  height: 100vh;
  background-image: url('../img/reg-form-art.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 1%;
}

.card-container {
  float: left;
  width: 48%;
  margin-left: 1%;
}

/* Style the counter cards */
.card_title {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  padding: 10px 10px;
  margin-top: 50px;
}
.card_content{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  padding: 10px 10px;
  margin-top: 15px;
}

/* .card:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
} */

.container {
  padding: 2px 16px;
}

.container-title {
  width: 50%;
}

.form-title {
  font-size: 40px;
  font-weight: 800;
  padding: 4px;
  color: #3cbc8d;
}

.form-element {
  display: block;
  padding: 5px;
}

.form-subtitle {
  font-size: 20px;
  font-weight: 600;
  padding: 4px;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #3cbc8d;
}

select {
  width: 90%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

select:focus {
  border: 2px solid #3cbc8d;
}

button {
  background-color: #3cbc8d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea:focus {
  border: 2px solid #3cbc8d;
}
