.main_title_error{
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}