@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap");
#Events_title {
  float: left !important;
  color: #fefefe;
  margin-left: 15%;
  position: absolute;
  width: 515px;
  height: 190px;
  top: 40%;
  font-size: 30px;
  font-family: raleway;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
}
#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .text-container {
  width: 50%;
  margin: 0 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .dev-cast-ep-1-img {
  background-image: url("images/road-to-fang-events.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .dev-cast-ep-2-img {
  background-image: url("images/shashank-pathak-events.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .dev-cast-ep-3-img {
  background-image: url("images/samridhi-mehta.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* Styling for the paragraph in the events */

#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .text-container
  p {
  margin: 0;
  padding: 5vh 0;
  font-family: "Roboto";
  line-height: 1.2rem;
  font-size: 1rem;
}
/*Main heading styling*/

#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .text-container
  div
  h2 {
  margin: 0;
  padding: 2vh 0;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 800;
}
/*Part of the main heading*/
#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .text-container
  div
  .part-heading {
  font-size: 2rem;
  padding: 0 10px;
}
/*Sub-heading styling*/

#event-slider-main
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide
  div
  section
  .flex-container
  .text-container
  div
  h3 {
  margin: 0;
  padding-bottom: 2vh 0;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600;
  color: #999;
}

/*styling for the youtube button*/

.event .flex-container .youtube-btn {
  border: none;
  background-color: #eee;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.event .flex-container .youtube-btn a {
  display: flex;
  align-items: center;
  color: #333;
  background-color: #eee;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.event .flex-container .youtube-btn a .hover-bg {
  position: absolute;
  background-color: red;
  width: 0;
  height: inherit;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.event .flex-container .youtube-btn:hover a .youtube-icon {
  color: #fefefe;
  transition: 0.5s ease-in-out;
}
.event .flex-container .youtube-btn:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);

  transform: translateX(10px);

  transition: all 0.6s ease-in-out;
}

.event .flex-container .youtube-btn a h5 {
  padding: 5px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.event .flex-container .youtube-btn a .youtube-icon {
  padding: 5px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.event .flex-container .youtube-btn:hover a .hover-bg {
  width: inherit;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.event .flex-container .youtube-btn:hover a h5 {
  color: #fefefe;
  transition: 0.5s ease-in-out;
}
/*styling for the youtube button ends here*/

/*styling for the other event button*/
.event .flex-container .otherEvent-btn {
  border: none;
  background-color: #eee;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.event .flex-container .otherEvent-btn a {
  display: flex;
  align-items: center;
  color: #333;
  background-color: #eee;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  font-weight: 600 !important;
}
.event .flex-container .otherEvent-btn a .hover-bg {
  position: absolute;
  background-color: #4286f5;
  width: 0;
  height: inherit;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.event .flex-container .otherEvent-btn:hover a .otherEvent-icon {
  color: #fefefe;
  transition: 0.5s ease-in-out;
}
.event .flex-container .otherEvent-btn:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #4286f5;
  -moz-box-shadow: 0px 0px 20px 0px #4286f5;
  box-shadow: 0px 0px 20px 0px #4286f5;

  transform: translateX(10px);

  transition: all 0.6s ease-in-out;
}

.event .flex-container .otherEvent-btn a h5 {
  padding: 5px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.event .flex-container .otherEvent-btn a .otherEvent-icon {
  padding: 5px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.event .flex-container .otherEvent-btn:hover a .hover-bg {
  width: inherit;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.event .flex-container .otherEvent-btn:hover a h5 {
  color: #fefefe;
  transition: 0.5s ease-in-out;
}
/*styling for the other event button ends here*/

.event .flex-container .code-rush-1-0-img {
  background-image: url("images/code-rush-1-0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.event .flex-container .code-rush-1-1-img {
  background-image: url("images/code-rush-1-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.event .flex-container .code-rush-1-2-img {
  background-image: url("images/code-rush-1-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.event .flex-container .google-hashcode-2021 {
  background-image: url("images/google-hashcode-2021.jpg");
  background-size: 90% !important;
  background-repeat: no-repeat;
  background-position: center;
}
.event .flex-container .geekIknack {
  background-image: url("images/knack.png");
  background-size: 90% !important;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  #Events_title {
    top: 20%;
    font-size: 21px;
    margin-top: -35px;
    width: 260px;
    height: 200px;
    margin-left: 10%;
    padding: 18px;
    line-height: 25px;
    font-weight: 400;
  }
  #event-slider-main
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    section
    .flex-container
    .text-container {
    margin: 0 10%;
    width: 80%;
    height: 60vh;
  }
  #event-slider-main
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    section
    .flex-container
    .text-container
    p {
    padding: 3vh 0;
    font-size: 0.8rem;
  }
  #event-slider-main
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    section
    .flex-container
    .text-container
    div
    h2 {
    padding: 1vh 0;
    font-size: 2rem;
  }
  #event-slider-main
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    section
    .flex-container
    .text-container
    div
    .part-heading {
    font-size: 1.5rem;
  }
  #event-slider-main
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    section
    .flex-container
    .text-container
    div
    h3 {
    padding-bottom: 1vh 0;
    font-size: 0.8rem;
  }
}
